python-dotenv
openpyxl
IPython
ipykernel

pandas
numpy
matplotlib
plotly
joblib
scikit-learn
xgboost
lightgbm
torch
torchvision
torchaudio
tensorflow
keras

transformers
datasets
tokenizers
evaluate
accelerate
sentence_transformers

langdetect
SpeechRecognition
pydub
nltk 
spacy
librosa 
soundfile
jiwer

wordcloud
zeyrek

FlagEmbedding