python-dotenv
openpyxl
IPython
ipykernel
ipywidgets

pandas
numpy
matplotlib
plotly
joblib
scikit-learn
xgboost
lightgbm
torch
torchvision
torchaudio
torchsummary
torchinfo
tensorflow
keras

transformers
datasets
tokenizers
evaluate
accelerate
sentence_transformers
FlagEmbedding

langdetect
SpeechRecognition
pydub
nltk 
spacy
librosa 
soundfile
jiwer

wordcloud
zeyrek

optuna
skorch
ray